<% content_for :page_name do %>
  <h1>Listing questions</h1>
<% end %>
<%= form_tag(update_db_questions_path) do %>
  <%= submit_tag("Update Database", :class=>"btn primary") %>
<% end %>

<%= link_to "All questions", questions_path %><br />
<% @categories.each do |c| %>
  <%= link_to c['name'], "#{questions_path}?category_id=#{c['id']}&category_name=#{c['name']}" %> - 
<% end %>

<% if params[:category_name] %>
  <h2><%= params[:category_name] %> - <%= @count %></h2>
<% else %>
  <h2>All - <%= @count %></h2>
<% end %>

<div class="apple_pagination" style="margin-bottom:10px">
  <%= will_paginate @questions %>
</div>
<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>User Nick</th>
      <th>Category</th>
      <th>Subject</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each_with_index do |question, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= question.user_nick %></td>
      <td><%= question.category_name %><br />(<%= question.category_id %>)<br /></td>
      <td><%= link_to question.subject, question_path(question) %></td>
      <td><%= question.content %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @questions %>
  </div>
  <%= will_paginate @questions, :container => false %>
</div>
